.carousel-container {
    width: 100%;
}

.carousel-slides {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-slides>div {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);
    height: 100%;
    width: 100%;
}


.carousel-slinks {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: #000;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
}

#slide1 {
    background-image: url("../images/slides/desarrollo_web.jpeg");
    background-size: cover;
}
#slide2 {
    background-image: url("../images/slides/realidad_aumentada.jpg");
    background-size: cover;
}
#slide3 {
    background-image: url("../images/slides/inteligencia_artificial.jpeg");
    background-size: cover;
}


.proyect-title:hover{
    font-size: 2rem;
    transition: font-size 3s linear;
}