/* CSS for navbar */
.navbar {
    display: none;
}



@media screen  and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        padding: 10px 30px;
        font-size: 2rem;
        position: sticky;
        right: 0;
        left: 0;
    }
    

    .navbar .list {
        display: flex;
    }

    .navbar .list .list-item a {
        margin-left: 10px;
        text-decoration: none;
    }
}
