/* CSS for navbar */
.navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 30px;
}

.navbar>.list {
    display: none;
}

.initials{
    font-style: italic;
}


@media screen and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        right: 0;
        left: 0;
    }


    .navbar .list {
        display: flex;
    }

    .navbar .list .list-item a {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }
}