nav.navbar-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-detail>div {
    margin: 0px 20px;
}

a.navbar {
    color: #ffffff;
    text-decoration: none;

}

.navbar-text {
    display: none;
}

@media screen and (min-width:600px) {
    .navbar-text {
        display: initial;
    }

    .navbar-text-mobile {
        display: none;
    }
}

.video {
    text-align: center;
    margin: 0px auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.body {
    display: grid;
    grid-template-columns: .2fr 2fr .2fr;
    grid-template-rows: 5vh 40vh minmax(50vh, max-content) 5vh;
    grid-template-areas:
        "navbar navbar navbar"
        ". header ."
        ". main ."
        "footer footer footer"
    ;
}

.navbar-detail {
    grid-area: navbar;
    background-color: var(--primary-color);
    color: #ffffff;
}

.header-detail {
    margin: 10px 0;
    grid-area: header;
    position: relative;
}

.main-detail {
    grid-area: main;
}

.footer-detail {
    grid-area: footer;
    text-align: center;
    background-color: var(--primary-color);
}

.proyects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-gap: 20px;
}

.proyect-item {
    background-color: var(--quarty-color);
    border-radius: 15px;
    padding: 10px;
}

ul.list {
    margin-top: 10px;
    list-style: circle;
    list-style-position: inside;
    padding-left: 10px;
}

h3.title-proyects {
    margin: 10px 0;
    padding: 10px;
    color: #ffffff;
    background-color: var(--secondary-color);
}
