.image {
    /* max-width: 100%; */
}

div.content {
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width:600px) {
    div.content {
        width: 90%;
        margin: 10px auto;
        max-width: 768px;
    }
}



.progress-bar {
    animation: progress;
    animation-duration: 5s;
    animation-iteration-count: 1;
    max-width: 60%;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}



/* Skills */
.skill-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.element-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.element-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

i.icon {
    vertical-align: middle;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer>a {
    margin-right: 10px;
    text-decoration: none;
}