/* Font size */
body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

/* Margin */
.marginY10{
    margin: 10px 0;
}

div.content {
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width:600px) {
    div.content {
        width: 90%;
        margin: 10px auto;
        max-width: 768px;
    }
}
@media screen and (min-width:1200px) {
    div.content {
        margin: 10px auto;
        max-width: 70%;
    }
}



.progress-bar {
    animation: progress;
    animation-duration: 5s;
    animation-iteration-count: 1;
    max-width: 60%;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}



/* Skills */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px; 
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
}
.carousel-details{
    text-align: center;
}
.progress-container {
    padding: 3px;
    width: 80%;
    max-width: 500px;
    border: 2px solid #05e35e;
    border-radius: 10px;
    margin-top: 5px;
}

.progress-container .progress-bar-32 {
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar-32 4s infinite;
}

@keyframes fill-bar-32 {
    from {
        width: 0%;
    }

    to {
        width: 32%;
    }
}
.progress-container .progress-bar-20 {
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar-20 4s infinite;
}

@keyframes fill-bar-20 {
    from {
        width: 0%;
    }

    to {
        width: 32%;
    }
}
.progress-container .progress-bar-50 {
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar-50 4s infinite;
}

@keyframes fill-bar-50 {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}
.progress-container .progress-bar-80 {
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar-80 4s infinite;
}

@keyframes fill-bar-80 {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}
.progress-container .progress-bar-100 {
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar-100 4s infinite;
}

@keyframes fill-bar-100 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* Contact */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.element-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
    gap: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.element-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button{
    border: 2px solid black;
    border-radius: 12px;
}
i.icon {
    vertical-align: middle;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer>a {
    margin-right: 10px;
    text-decoration: none;
}